<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Our paper is accepted on ECCV 2024</h3>
                <h1>"Nickel and Diming Your GAN: A Dual-Method Approach to Enhancing GAN Efficiency via Knowledge Distillation"</h1>
                <h5>Website: https://sangyeopyeo.github.io/Nickel_and_Diming_Your_GAN/</h5>
                <h5>Sangyeop Yeo, Yoojin Jang, Jaejun Yoo</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->